@import './CurrencySwitcher.variables.scss';

.cur-switch__select {
  width: $currency-width;
  padding: $currency-padding;
  border-radius: $currency-border-radius;
  border: 1px solid white;
  background: transparent;
  color: $currency-text-color;
  appearance: none;
  cursor: pointer;
}