@import './Logo.variables.scss';

.logo__link,
.logo__link:active,
.logo__link:hover {
  text-decoration: none;
  color: $logo-text-color;
  background: #FFFFFF;
  text-shadow: 1px 1px 0 #969696, 1px 1px 1px #aba8a8;
}

