$text-color-white: #ffffff;
$input-width: 200px;
$input-height: 60px;
$input-border-radius: 4px;

$primary-color: $text-color-white;
$primary-input-w: $input-width;
$primary-input-h: $input-height;
$primary-input-r: $input-border-radius;