.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  
}

.search-bar div {
  margin-left: 1px;
}

.searchBtn {
  width: 200px;
  height: 60px;
  font-size: 1.3rem;
  background: darkorange;
}


